# Emacs backup files
*~

# Data for test repo
Test-Repo/

# Python auto-written files
build/
__pycache__/
*.pyc

# py.test cache
.cache/

# setuptools build products
*.egg-info/
dist/

# Coverage products
.coverage
htmlcov/

# Rendering output
README.html
